:root {
  --ff-inter: 'Inter Regular', sans-serif;
  --ff-libre: 'Libre Caslon Display Regular', sans-serif;

  --clr-grey: #b7b7b7;
  --clr-orange: #d9852c;
  --clr-white: #ffffff;
}

*,
*::after,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.opening-wrapper {
  width: 100%;
  height: 100%;
  background-image: url(./images/Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.opening-wrapper::before {
  content: '';
  background-color: black;
  opacity: 0.1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.opening-inner {
  header {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    .logo {
      max-width: 167px;
      display: block;
    }
  }
  .menu {
    width: 100%;
    position: absolute;
    top: 90%;
    left: 0;
    z-index: 2;
    padding-block: 40px;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      height: 100%;
      gap: 20px;
      li {
        list-style: none;
      }
      a {
        // text-decoration: none;
        color: black;
        font-family: var(--ff-inter);
        font-weight: 900;
        font-size: 30px;
        text-transform: uppercase;
      }
    }
  }
  .menu::before {
    content: '';
    background-color: var(--clr-orange);
    opacity: 0.9;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #toggler {
    display: none;
  }
  #toggler:checked ~ nav {
    display: block;
  }
  #toggler:not(:checked) ~ nav {
    display: none;
  }
}

.opening-content {
  padding: 50% 25px;
  position: relative;
  z-index: 1;
  h1 {
    color: var(--clr-white);
    font-family: var(--ff-libre);
    font-size: 50px;
    position: relative;
    &::before {
      content: '';
      background-color: #ffffff;
      width: 90px;
      height: 15px;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-20px);
    }
  }
  p {
    color: var(--clr-white);
    font-family: var(--ff-inter);
    font-size: 15px;
    letter-spacing: 1px;
    margin-block: 32px;
    padding-right: 40px;
  }
  a {
    text-decoration: none;
    button {
      border: 2px solid var(--clr-white);
      border-radius: 10px;
      min-width: 153px;
      min-height: 42px;
      background-color: transparent;
      color: #ffffff;
      font-family: var(--ff-inter);
      font-size: 15px;

      &:hover {
        background-color: #ffffff;
        color: black;
      }
    }
  }
}

.grid-wrapper {
  padding-inline: 32px;
}

.grid-title {
  padding-block: 78px;
  h2 {
    font-family: 'Inter ExtraBold', sans-serif;
    font-size: 24px;
  }
}

.grid-inner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  row-gap: 20px;
  column-gap: 10px;
}

.grid-item {
  width: 100%;
  .grid-image {
    width: 100%;
    display: block;
    transform: translateY(3px);
  }
  .grid-contain {
    border: 2px solid var(--clr-grey);
    padding-inline: 32px;
    border-radius: 5px;
    min-height: 300px;
    p {
      padding-block: 30px;
      color: #b7b7b7;
      font-family: var(--ff-inter);
      font-size: 13px;
    }
    h3 {
      font-family: 'Inter ExtraBold', sans-serif;
      font-size: 18px;
      padding-right: 10px;
    }
    .grid-link {
      padding-block: 18px 32px;
      display: flex;
      justify-content: end;
      a {
        text-decoration: none;
        color: var(--clr-orange);
        font-family: var(--ff-inter);
        font-weight: 700;
      }
    }
  }
}
